*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.85)),url('../images/mahabaleshwar.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.box{
    position: relative;
    width:250px;
    height:250px;
    transform-style: preserve-3d;
    animation:  animate 30s linear infinite;
}
@keyframes animate{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}

.box span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)* 45deg)) translateZ(400px);
}

.box span img{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border:  4px solid white;
}

