*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.45)),url('../images/mahabaleshwar.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    width: 100%;
    height: 12vh;
    background:rgba(0,0,0,0.75) ;
    color:white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-transform: uppercase;
}

nav .logo{
    width: 25%;
    text-align: center;
}

nav .menu{
    width:30%;
    display: flex;
    justify-content: space-around;
}

nav .menu a{
    width:25%;
    text-decoration: none;
    color: white;
}

nav .menu a:first-child{
    color:#77D970 ;
}

main{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}


section h3{
    font-size: 40px;
    font-weight:200 ;
    letter-spacing: 3px;
    text-shadow:1px 1px 2px 2px;
}

section h1{
    font-size: 55px;
    font-weight: 600;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
    margin: 30px 0 20px 0;
}

section p{
    font-size: 35px;
    color: #eee;
    word-spacing: 2px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px 1px black;
}

section a{
    padding:12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition:  all 0.5s ease;
}

section .btnone{
    background: white;
    color: black;
}

.btnone:hover{
    background:#77D970;
    color: white;
}

section .btntwo{
    background:black ;
    color: white;
}

.btntwo:hover{
    background: #77D970;
    color: black;
}

.change_content:after{
    content: '';
    animation: changetext 10s infinite linear;
    color: #77D970;
}

@keyframes changetext{
    0%{content: "Satara" ;}
    20%{content: "Kas Platue" ;}
    40%{content: "Thoseghar" ;}
    60%{content: "Ajinkyatara" ;}
    80%{content: "Mahabaleshwar" ;}
    100%{content: "Vasota" ;}
}